@charset "utf-8";

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
	
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font:14px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 
fieldset,img{
	border:0;
}*/
/* 去除默认边框  */
img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}*/

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}

/* 唐斌奇增加 */
#main_container {
	/*float:inherit;
	position:relative;
	width: 1002px;*/
	clear: both;
    margin: 0 auto;
    overflow: auto;
    width: 963px;
    /*background: none repeat scroll 0 0 #F1F8FF;*/
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}
.header_container {
    clear: both;
    height: 50px;   
    margin:0px 5px 5px 5px;
    background: none repeat scroll 0 0 #54A2F3;
    padding: 1px;
}
.left_container {
    float: left;
    width: 14%;
	height:500px;    
    margin:0px 5px;
    background: none repeat scroll 0 0 #F1F8FF;
	/*border:red solid thin;
	border: 1px solid #2767A9;*/
}
.right_container {
    float: right;
    width: 14%;
	height:500px;   
    margin:0px 5px;
	background: none repeat scroll 0 0 #F1F8FF;
}
.middle_container {	
    padding: 0px 160px 5px 160px;
    margin: 0px;  
    margin:0px 5px;
	/*border:red solid thin;*/
}
.footer_container {
    clear: both;
    background: none repeat scroll 0 0 #54A2F3;
    border-bottom: 10px solid #FFFFFF;
    border-top: 10px solid #FFFFFF;
    clear: both;
    height: 46px;
    margin: 0 0 0 12px;
    padding: 0;
}
.floating_container {
    overflow: hidden;
    position: fixed;
	bottom: 0;
    left:30%;
    /*top:95%;*/
    height:30px;
	background-color:#FC9;
	border:red solid thin;
}
.sort_icon{
	/*background: url('../img/sort.png') no-repeat;*/
	height:50px;
}
#left_folating{	
	overflow:hidden;
    position: fixed;	
    top:0;	
    height:616;	
	left:0%;
	/* 边栏初始宽度,base.js中initRightFolating,showRightFolating使用了宽度19*/
	background-color:#6F9;
	
	border:red solid thin;
}
.mytable {
/*border-collapse:collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
/*border:solid #999; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
/*border-width:1px 0 0 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
	font-size:14px;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DEE6ED -moz-use-text-color #DEE6ED #DEE6ED;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
}
.mytable caption {font-size:14px;font-weight:bolder;}
.mytable th,.mytable td {
	border-right: 1px solid #E1E1E2;
    height: 30px;
    overflow: hidden;
    padding: 0 5px;    
	font-size:14px;
}
.mytable th{
	font-weight:bolder;
	background-color: #8F8F8F;
    border-bottom: 1px solid #D9D9D9;    
    text-align: center;
}
.mytable .dbrow td{
	background-color: #D9D9D9;
}
.myfont{
	font-size:14px;	
}

.pinglun {
	background-color: #F9F;
	text-align: right;
}

/* 超链接样式 */
.activelink {
	color: #1111CC;
    cursor: pointer;
    text-decoration: underline;
}