html  { 
  background: #f9f9f9;
  overflow:scroll;
  overflow-x:hidden;
  }
body{margin:0;padding:0;}
h2,h3,h4,h5{margin:0;border:0}
p,h2,h3,h4,h5{padding:0 0 1em 0}

h1,h2,h3,h4{display:inline}
h1{color:#3366CC;font-size:3em;white-space:nowrap;text-align:center;}
h2{font-size:1.6em}
h3{font-size:1.2em;line-height:1.4em;white-space:nowrap;font-family:Arial,Verdana,Sans-serif}
p{margin:0;border:0}
img,dl,dt,dd{margin:0;padding:0;border:0}
ol,ul,li{margin:0;border:0}
caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet{margin:0;padding:0;border:0}
body{font-size:62.5%;font-family:Arial,sans-serif;color:#000;background:#fff;background-image:url(../design/paper.gif)}
a:active{color:#f00}

ul{padding:0 0 1em 1em}
ol{padding:0 0 1em 1.3em}
li{line-height:1.5em;padding:0 0 .5em 0}
h4,h5,table{font-size:1em}
sup,sub{font-size:.7em}
input,select,textarea,option{font-family:inherit;font-size:inherit}
input:focus { background-color:yellow;}
 
img{border-style:none}
a{outline:none}
a,a:visited{color:#11C}
div.top .norm{display:inline;font-size:.9em}
#content {margin:0 auto;padding: 0;border: 0;text-align:center;width:100%;height:100%;}
#header{margin:0 auto;padding: 0;border: 0;background-image:url(../design/1.jpg);background-color:#ddcbcb;white-space:nowrap;text-align:center;width:100%;height:9.7%;}
#main{margin:0 auto;width:100%;height:85%;}
#col-left {width:15%;height: 85%;font-size:1.2em;float:left;white-space:nowrap;text-align:left;}
#col-left-in {padding:5px 0px; background:0 0 no-repeat;}
#col-right {width:23%;height: 85%;font-size:1.2em;float:left;white-space:nowrap;text-align:left;}
#col-right-in {padding:5px 0px; background:0 0 no-repeat;}
#col-center {width:60%;height:85%;pxfont-size:1.2em;float:left;white-space:nowrap;text-align:left;}
#col-center-in {padding:10px 0px; background:0 0 no-repeat;}
#col-center-top {width:98%;height:5%;font-size:1.2em;}
#col-center-center {width:98%;height:80%;font-size:1.2em;}
.col-center-center-cfdata {width:98%;height:80%;font-size:1.2em;z-index:2;background-color:gray;display:none;overflow:scroll}
#col-center-bottom {width:98%;height:15%;font-size:1.2em;}
#gf-head{padding-top:10px}
#gf-foot{border:1px solid #ddd;border-width:1px 0 0;clear:both;text-align:center;height: 4.8%;padding-top: 20px;padding-bottom:10px;}

#col-left,#col-right,#col-center{
color: #000000;
margin-left: 5px;
margin-top: 0px;
padding: auto;
}
#col-center-top
{
color: red;
margin-left: 0px;
margin-top: 0px;
padding: 0px;
}
    /* Right column - Archive */
#col-left ul#archive {margin:20px 0px; padding:0; list-style:none;}
#col-left ul#archive {margin:0px 0px; padding:0; list-style:none;}
#col-left ul#archive li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
#col-left ul#archive li a {display:block; padding:3px 0 3px 22px; background:url("../design/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;font-family:Arial,Verdana,Sans-serif;}
#col-left ul#archive li a.noactive:hover {background-color:#EAF2D3; color:#192666;font-size:1.4em;font-weight:bold;}
#col-left ul#archive li a.active:hover {background-color:#EAF2D3; color:#192666;font-size:1.2em;}
#col-left ul#archive li#archive-active a {background:#E0E8FA url("../design/ico_archive2.gif") 5px 6px no-repeat; font-size:1.2em;font-weight:bold;}
 
.g-split .g-first{text-align:left}
.g-unit .g-tpl-right-1 .g-first,.g-tpl-right-1 .g-first{display:inline;float:right;margin:0;width:300px;padding:20px 10px;}
.fjfe-search{white-space:nowrap;text-align:center;}
.fjfe-searchbox-button-wrapper{border-right:1px solid #e7e7e7;display:inline-block;height:32px;position:relative;z-index:100}
.fjfe-searchbox-button-wrapper2{background:#eee;border:1px solid #999;border-top:1px solid #ccc;display:inline-block;height:25px}
.fjfe-searchbox-button{background:url(/finance/images/sp11.png) -87px -36px;border:none;cursor:pointer;font-size:15px;height:30px;}
.fjfe-searchbox-input{border:1px solid #ccc;border-bottom-color:#999;border-right:none;font-size:18px;height:32px;line-height:26px;width:200px;vertical-align:top;}
#gf-table{border:1px solid #ddd;border-width:1px 0 0;clear:both;margin:10em .5em 0;text-align:center}
.sfe-section{padding:6px 7px 15px;white-space:nowrap;text-align:left;}
.hdg{background-color:#bfd0ea;height:1.6em;margin-top:2px;padding:.3em .5em 0 .5em;white-space:nowrap}
.hdg{margin-top:0}
a.fs:link {color: black}
a.fs:hover {color: red;text-decoration: underline}
a.fs{line-height: 20px;font-family:Arial,Verdana,Sans-serif;font-size:1.2em;text-decoration: none}
a.footer{line-height: 20px;font-family:Arial,Verdana,Sans-serif;font-size:1em;text-decoration: none}
a.footer:hover {color: red;text-decoration: underline}
.fjfe-footer-disclaimer{font-size:1.2em;font-family:Times, TimesNR, 'New Century Schoolbook';}
#navmenu{line-height:0.1em;list-style:none;margin:0;overflow:hidden;padding:0;width:100%}
tr.lft1 td{text-align:left;background-color:#EAF2D3}
tr.lft2 td{text-align:left;background-color:white;}
.sfe-break-bottom-8{padding-bottom:8px}
table.quotes td{padding:2px 0;white-space:nowrap}
.quotes tfoot{border-top:5px solid #ccc}
 
table,td,th {
   background-color:#cfc;

     
   }
  
th {
 font-size:1em;
 text-align:left;
 vertical-align:center;
 padding-top:5px;
 padding-bottom:8px;
 height:10px;
 background-color:#bfd0ea;
 color:black;
 }
tr.alt1 td {
   color:#000000;
   background-color:#EAF2D3;
   }    
tr.alt2 td {
   color:#000000;
   background-color:white;
   }     
.datalist2{
   border:1px solid #0058a3; /* 表格边框 */
   font-family:Arial;
   border-collapse:collapse; /* 边框重叠 */
   background-color:#eaf5ff; /* 表格背景色 */
   font-size:14px;
   width:100%;
   }
.datalist2 caption{
     padding-bottom:5px;
     font:bold 1.4em;
     text-align:center;
     }
.datalist2 th{
    border:1px solid #0058a3; /* 行名称边框 */
    background-color:#99CCFF; /* 行名称背景色 */
    color:#FFFFFF;    /* 行名称颜色 */
    font-weight:bold;
    padding-top:4px; padding-bottom:4px;
    padding-left:12px; padding-right:12px;
    text-align:center;
    }
.datalist2 td{
    border:1px solid #0058a3; /* 单元格边框 */
    text-align:left;
    padding-top:4px; padding-bottom:4px;
    padding-left:10px; padding-right:10px;
    }
.datalist2 tr:hover, .datalist2 tr.altrow{background-color:#EAF2D3; }/* 动态变色 */
.datalist1{
   font-family:Arial;
   border-collapse:collapse; /* 边框重叠 */
   background-color:#eaf5ff; /* 表格背景色 */
   font-size:14px;
   margin:0;
   }
.datalist1 caption{
     padding-bottom:5px;
     font:bold 1.4em;
     text-align:center;
     }
.datalist1 th{
    background-color:#4bacff; /* 行名称背景色 */
    color:#FFFFFF;    /* 行名称颜色 */
    font-weight:bold;
    padding-top:4px; padding-bottom:4px;
    padding-left:12px; padding-right:12px;
    text-align:center;
    }
.datalist1 td{
    text-align:left;
    padding-top:4px; padding-bottom:4px;
    padding-left:10px; padding-right:10px;
    }
.datalist1 tr:hover, .datalist1 tr.altrow{background-color:#EAF2D3; }/* 动态变色 */









