<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.stock.portal.dao.company0021">
  <resultMap id="BaseResultMap" type="com.stock.common.model.company.Company0021">
	<id column="f004v" jdbcType="VARCHAR" property="f004v" />
    <id column="f005d" jdbcType="TIMESTAMP" property="f005d" />
    <id column="humanid" jdbcType="VARCHAR" property="humanid" />
    <id column="orgid" jdbcType="VARCHAR" property="orgid" />
    <id column="company_code" jdbcType="VARCHAR" property="company_code" />
	<result column="stock_code" property="stock_code" jdbcType="VARCHAR" />
    <result column="objectid" jdbcType="BIGINT" property="objectid" />
    <result column="orgname" jdbcType="VARCHAR" property="orgname" />
    <result column="secname" jdbcType="VARCHAR" property="secname" />
    <result column="declaredate" jdbcType="TIMESTAMP" property="declaredate" />
    <result column="humanname" jdbcType="VARCHAR" property="humanname" />
    <result column="f001v" jdbcType="VARCHAR" property="f001v" />
    <result column="f002v" jdbcType="VARCHAR" property="f002v" />
    <result column="f003v" jdbcType="VARCHAR" property="f003v" />
    <result column="f006d" jdbcType="TIMESTAMP" property="f006d" />
    <result column="f007v" jdbcType="VARCHAR" property="f007v" />
    <result column="f008c" jdbcType="CHAR" property="f008c" />
    <result column="f010v" jdbcType="VARCHAR" property="f010v" />
    <result column="f011c" jdbcType="CHAR" property="f011c" />
    <result column="f012v" jdbcType="VARCHAR" property="f012v" />
    <result column="f013v" jdbcType="VARCHAR" property="f013v" />
    <result column="f014v" jdbcType="VARCHAR" property="f014v" />
    <result column="f015v" jdbcType="VARCHAR" property="f015v" />
    <result column="f016v" jdbcType="VARCHAR" property="f016v" />
    <result column="f017v" jdbcType="VARCHAR" property="f017v" />
    <result column="f018v" jdbcType="VARCHAR" property="f018v" />
    <result column="f022v" jdbcType="VARCHAR" property="f022v" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="rectime" jdbcType="TIMESTAMP" property="rectime" />
    <result column="modtime" jdbcType="TIMESTAMP" property="modtime" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
    <result column="seqid" jdbcType="BIGINT" property="seqid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    f004v, f005d, humanid, orgid, company_code,stock_code, objectid, orgname, secname, declaredate, humanname, 
    f001v, f002v, f003v, f006d, f007v, f008c, f010v, f011c, f012v, f013v, f014v, f015v, 
    f016v, f017v, f018v, f022v, memo, rectime, modtime, isvalid, seqid
  </sql>
  <sql id="Base_Where">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    <trim prefix=" where " prefixOverrides="AND|OR">
      <if test="f004v != null">
          and f004v = #{f004v,jdbcType=VARCHAR}
      </if>
      <if test="f005d != null">
          and f005d = #{f005d,jdbcType=TIMESTAMP}
      </if>
      <if test="humanid != null">
          and humanid = #{humanid,jdbcType=VARCHAR}
      </if>
      <if test="orgid != null">
          and orgid = #{orgid,jdbcType=VARCHAR}
      </if>
      <if test="company_code != null">
          and company_code = #{company_code,jdbcType=VARCHAR}
      </if>
	  <if test="stock_code != null" >
          and stock_code = #{stock_code,jdbcType=VARCHAR}
      </if>
      <if test="objectid != null">
          and objectid = #{objectid,jdbcType=BIGINT}
      </if>
      <if test="orgname != null">
          and orgname = #{orgname,jdbcType=VARCHAR}
      </if>
      <if test="secname != null">
          and secname = #{secname,jdbcType=VARCHAR}
      </if>
      <if test="declaredate != null">
          and declaredate = #{declaredate,jdbcType=TIMESTAMP}
      </if>
      <if test="humanname != null">
          and humanname = #{humanname,jdbcType=VARCHAR}
      </if>
      <if test="f001v != null">
          and f001v = #{f001v,jdbcType=VARCHAR}
      </if>
      <if test="f002v != null">
          and f002v = #{f002v,jdbcType=VARCHAR}
      </if>
      <if test="f003v != null">
          and f003v = #{f003v,jdbcType=VARCHAR}
      </if>
      <if test="f006d != null">
          and f006d = #{f006d,jdbcType=TIMESTAMP}
      </if>
      <if test="f007v != null">
          and f007v = #{f007v,jdbcType=VARCHAR}
      </if>
      <if test="f008c != null">
          and f008c = #{f008c,jdbcType=CHAR}
      </if>
      <if test="f010v != null">
          and f010v = #{f010v,jdbcType=VARCHAR}
      </if>
      <if test="f011c != null">
          and f011c = #{f011c,jdbcType=CHAR}
      </if>
      <if test="f012v != null">
          and f012v = #{f012v,jdbcType=VARCHAR}
      </if>
      <if test="f013v != null">
          and f013v = #{f013v,jdbcType=VARCHAR}
      </if>
      <if test="f014v != null">
          and f014v = #{f014v,jdbcType=VARCHAR}
      </if>
      <if test="f015v != null">
          and f015v = #{f015v,jdbcType=VARCHAR}
      </if>
      <if test="f016v != null">
          and f016v = #{f016v,jdbcType=VARCHAR}
      </if>
      <if test="f017v != null">
          and f017v = #{f017v,jdbcType=VARCHAR}
      </if>
      <if test="f018v != null">
          and f018v = #{f018v,jdbcType=VARCHAR}
      </if>
      <if test="f022v != null">
          and f022v = #{f022v,jdbcType=VARCHAR}
      </if>
      <if test="memo != null">
          and memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="rectime != null">
          and rectime = #{rectime,jdbcType=TIMESTAMP}
      </if>
      <if test="modtime != null">
          and modtime = #{modtime,jdbcType=TIMESTAMP}
      </if>
      <if test="isvalid != null">
          and isvalid = #{isvalid,jdbcType=CHAR}
      </if>
      <if test="seqid != null">
          and seqid = #{seqid,jdbcType=BIGINT}
      </if>
    </trim>
  </sql>
  <sql id="Base_Update_Set">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    <set>
      <if test="objectid != null">
        objectid = #{objectid,jdbcType=BIGINT},
      </if>
	  <if test="stock_code != null" >
        stock_code = #{stock_code,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null">
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="secname != null">
        secname = #{secname,jdbcType=VARCHAR},
      </if>
      <if test="declaredate != null">
        declaredate = #{declaredate,jdbcType=TIMESTAMP},
      </if>
      <if test="humanname != null">
        humanname = #{humanname,jdbcType=VARCHAR},
      </if>
      <if test="f001v != null">
        f001v = #{f001v,jdbcType=VARCHAR},
      </if>
      <if test="f002v != null">
        f002v = #{f002v,jdbcType=VARCHAR},
      </if>
      <if test="f003v != null">
        f003v = #{f003v,jdbcType=VARCHAR},
      </if>
      <if test="f006d != null">
        f006d = #{f006d,jdbcType=TIMESTAMP},
      </if>
      <if test="f007v != null">
        f007v = #{f007v,jdbcType=VARCHAR},
      </if>
      <if test="f008c != null">
        f008c = #{f008c,jdbcType=CHAR},
      </if>
      <if test="f010v != null">
        f010v = #{f010v,jdbcType=VARCHAR},
      </if>
      <if test="f011c != null">
        f011c = #{f011c,jdbcType=CHAR},
      </if>
      <if test="f012v != null">
        f012v = #{f012v,jdbcType=VARCHAR},
      </if>
      <if test="f013v != null">
        f013v = #{f013v,jdbcType=VARCHAR},
      </if>
      <if test="f014v != null">
        f014v = #{f014v,jdbcType=VARCHAR},
      </if>
      <if test="f015v != null">
        f015v = #{f015v,jdbcType=VARCHAR},
      </if>
      <if test="f016v != null">
        f016v = #{f016v,jdbcType=VARCHAR},
      </if>
      <if test="f017v != null">
        f017v = #{f017v,jdbcType=VARCHAR},
      </if>
      <if test="f018v != null">
        f018v = #{f018v,jdbcType=VARCHAR},
      </if>
      <if test="f022v != null">
        f022v = #{f022v,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rectime != null">
        rectime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=CHAR},
      </if>
      <if test="seqid != null">
        seqid = #{seqid,jdbcType=BIGINT},
      </if>
    </set>
  </sql>
  <insert id="insert" parameterType="com.stock.common.model.company.Company0021">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    insert into t_company0021 (f004v, f005d, humanid, 
      orgid, company_code, stock_code,objectid, 
      orgname, secname, declaredate, 
      humanname, f001v, f002v, 
      f003v, f006d, f007v, 
      f008c, f010v, f011c, f012v, 
      f013v, f014v, f015v, 
      f016v, f017v, f018v, 
      f022v, memo, rectime, 
      modtime, isvalid, seqid
      )
    values (#{f004v,jdbcType=VARCHAR}, #{f005d,jdbcType=TIMESTAMP}, #{humanid,jdbcType=VARCHAR}, 
      #{orgid,jdbcType=VARCHAR}, #{company_code,jdbcType=VARCHAR}, #{stock_code,jdbcType=VARCHAR},#{objectid,jdbcType=BIGINT}, 
      #{orgname,jdbcType=VARCHAR}, #{secname,jdbcType=VARCHAR}, #{declaredate,jdbcType=TIMESTAMP}, 
      #{humanname,jdbcType=VARCHAR}, #{f001v,jdbcType=VARCHAR}, #{f002v,jdbcType=VARCHAR}, 
      #{f003v,jdbcType=VARCHAR}, #{f006d,jdbcType=TIMESTAMP}, #{f007v,jdbcType=VARCHAR}, 
      #{f008c,jdbcType=CHAR}, #{f010v,jdbcType=VARCHAR}, #{f011c,jdbcType=CHAR}, #{f012v,jdbcType=VARCHAR}, 
      #{f013v,jdbcType=VARCHAR}, #{f014v,jdbcType=VARCHAR}, #{f015v,jdbcType=VARCHAR}, 
      #{f016v,jdbcType=VARCHAR}, #{f017v,jdbcType=VARCHAR}, #{f018v,jdbcType=VARCHAR}, 
      #{f022v,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{rectime,jdbcType=TIMESTAMP}, 
      #{modtime,jdbcType=TIMESTAMP}, #{isvalid,jdbcType=CHAR}, #{seqid,jdbcType=BIGINT}
      )
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="com.stock.common.model.company.Company0021Key">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    delete from t_company0021
    where f004v = #{f004v,jdbcType=VARCHAR}
      and f005d = #{f005d,jdbcType=TIMESTAMP}
      and humanid = #{humanid,jdbcType=VARCHAR}
      and orgid = #{orgid,jdbcType=VARCHAR}
      and company_code = #{company_code,jdbcType=VARCHAR}
  </delete>
  <select id="selectByPrimaryKey" parameterType="com.stock.common.model.company.Company0021Key" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_company0021
    where f004v = #{f004v,jdbcType=VARCHAR}
      and f005d = #{f005d,jdbcType=TIMESTAMP}
      and humanid = #{humanid,jdbcType=VARCHAR}
      and orgid = #{orgid,jdbcType=VARCHAR}
      and company_code = #{company_code,jdbcType=VARCHAR}
  </select>
  <select id="select" parameterType="com.stock.common.model.company.Company0021" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_company0021
    <include refid="Base_Where" />
  </select>
  
   <select id="selectNowList" parameterType="map" resultMap="BaseResultMap">
    
    select 
    <include refid="Base_Column_List" />
    from t_company0021
    <include refid="Base_Where" />
    and declaredate = 
    (select max(declaredate) from t_company0021 
    where company_code= #{company_code,jdbcType=VARCHAR} 
	) 
	order by f003v
	 <if test="queryParam !=null">
	    <!--  
	    <if test="queryParam.sort != null">
	       order by ${queryParam.sort} ${queryParam.dir} 
	    </if>
	     limit ${queryParam.start},${queryParam.limit} 
	     -->
     </if>
  </select> 
  
  <select id="selectList" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_company0021
    <include refid="Base_Where" />
    <if test="queryParam !=null">
	    <if test="queryParam.sort != null">
	       order by ${queryParam.sort} ${queryParam.dir} 
	    </if>    
    	 limit ${queryParam.start},${queryParam.limit} 
    </if>    
  </select>
  <select id="selectCount" parameterType="com.stock.common.model.company.Company0021" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    select count(*)
    from t_company0021
    <include refid="Base_Where" />
  </select>
  <update id="updateByPrimaryKey" parameterType="com.stock.common.model.company.Company0021">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    update t_company0021
    <include refid="Base_Update_Set" />
    where f004v = #{f004v,jdbcType=VARCHAR}
      and f005d = #{f005d,jdbcType=TIMESTAMP}
      and humanid = #{humanid,jdbcType=VARCHAR}
      and orgid = #{orgid,jdbcType=VARCHAR}
      and company_code = #{company_code,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.stock.common.model.company.Company0021">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 21 16:50:14 CST 2012.
    -->
    update t_company0021
    <include refid="Base_Update_Set" />
    <include refid="Base_Where" />
  </update> 
</mapper>