<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.common.model.base.Finace0012" >
  <resultMap id="BaseResultMap" type="com.stock.common.model.base.Finace0012" >
    <id column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <id column="f002v" property="f002v" jdbcType="VARCHAR" />
    <id column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="objectid" property="objectid" jdbcType="BIGINT" />
    <result column="orgid" property="orgid" jdbcType="VARCHAR" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="secname" property="secname" jdbcType="VARCHAR" />
    <result column="declaredate" property="declaredate" jdbcType="TIMESTAMP" />
    <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="f003v" property="f003v" jdbcType="VARCHAR" />
    <result column="f004v" property="f004v" jdbcType="VARCHAR" />
    <result column="f005v" property="f005v" jdbcType="VARCHAR" />
    <result column="f006n" property="f006n" jdbcType="DOUBLE" />
    <result column="f007n" property="f007n" jdbcType="DOUBLE" />
    <result column="f008n" property="f008n" jdbcType="DOUBLE" />
    <result column="f009n" property="f009n" jdbcType="DOUBLE" />
    <result column="f010n" property="f010n" jdbcType="DOUBLE" />
    <result column="f019n" property="f019n" jdbcType="DOUBLE" />
    <result column="f020n" property="f020n" jdbcType="DOUBLE" />
    <result column="f021n" property="f021n" jdbcType="DOUBLE" />
    <result column="f022n" property="f022n" jdbcType="DOUBLE" />
    <result column="f023n" property="f023n" jdbcType="DOUBLE" />
    <result column="f027n" property="f027n" jdbcType="DOUBLE" />
    <result column="f028n" property="f028n" jdbcType="DOUBLE" />
    <result column="f029n" property="f029n" jdbcType="DOUBLE" />
    <result column="f030n" property="f030n" jdbcType="DOUBLE" />
    <result column="f031n" property="f031n" jdbcType="DOUBLE" />
    <result column="f032n" property="f032n" jdbcType="DOUBLE" />
    <result column="f033n" property="f033n" jdbcType="DOUBLE" />
    <result column="f034n" property="f034n" jdbcType="DOUBLE" />
    <result column="f035n" property="f035n" jdbcType="DOUBLE" />
    <result column="f036n" property="f036n" jdbcType="DOUBLE" />
    <result column="f037n" property="f037n" jdbcType="DOUBLE" />
    <result column="f039n" property="f039n" jdbcType="DOUBLE" />
    <result column="f040n" property="f040n" jdbcType="DOUBLE" />
    <result column="f041n" property="f041n" jdbcType="DOUBLE" />
    <result column="f042n" property="f042n" jdbcType="DOUBLE" />
    <result column="f043n" property="f043n" jdbcType="DOUBLE" />
    <result column="f044n" property="f044n" jdbcType="DOUBLE" />
    <result column="f055n" property="f055n" jdbcType="DOUBLE" />
    <result column="f045n" property="f045n" jdbcType="DOUBLE" />
    <result column="f047n" property="f047n" jdbcType="DOUBLE" />
    <result column="f048n" property="f048n" jdbcType="DOUBLE" />
    <result column="f049n" property="f049n" jdbcType="DOUBLE" />
    <result column="f050n" property="f050n" jdbcType="DOUBLE" />
    <result column="f051n" property="f051n" jdbcType="DOUBLE" />
    <result column="f052n" property="f052n" jdbcType="DOUBLE" />
    <result column="f053n" property="f053n" jdbcType="DOUBLE" />
    <result column="f054n" property="f054n" jdbcType="DOUBLE" />
    <result column="f056n" property="f056n" jdbcType="DOUBLE" />
    <result column="f057n" property="f057n" jdbcType="DOUBLE" />
    <result column="f058n" property="f058n" jdbcType="DOUBLE" />
    <result column="f059n" property="f059n" jdbcType="DOUBLE" />
    <result column="f060n" property="f060n" jdbcType="DOUBLE" />
    <result column="f061n" property="f061n" jdbcType="DOUBLE" />
    <result column="f062n" property="f062n" jdbcType="DOUBLE" />
    <result column="f063n" property="f063n" jdbcType="DOUBLE" />
    <result column="f064n" property="f064n" jdbcType="DOUBLE" />
    <result column="f065n" property="f065n" jdbcType="DOUBLE" />
    <result column="f066n" property="f066n" jdbcType="DOUBLE" />
    <result column="f067n" property="f067n" jdbcType="DOUBLE" />
    <result column="f068n" property="f068n" jdbcType="DOUBLE" />
    <result column="f069n" property="f069n" jdbcType="DOUBLE" />
    <result column="f070n" property="f070n" jdbcType="DOUBLE" />
    <result column="f071n" property="f071n" jdbcType="DOUBLE" />
    <result column="f072n" property="f072n" jdbcType="DOUBLE" />
    <result column="f073n" property="f073n" jdbcType="DOUBLE" />
    <result column="f074n" property="f074n" jdbcType="DOUBLE" />
    <result column="f075n" property="f075n" jdbcType="DOUBLE" />
    <result column="f076n" property="f076n" jdbcType="DOUBLE" />
    <result column="f077n" property="f077n" jdbcType="DOUBLE" />
    <result column="f078n" property="f078n" jdbcType="DOUBLE" />
    <result column="f079n" property="f079n" jdbcType="DOUBLE" />
    <result column="f080n" property="f080n" jdbcType="DOUBLE" />
    <result column="f081n" property="f081n" jdbcType="DOUBLE" />
    <result column="f082n" property="f082n" jdbcType="DOUBLE" />
    <result column="f083n" property="f083n" jdbcType="DOUBLE" />
    <result column="f084n" property="f084n" jdbcType="DOUBLE" />
    <result column="f085n" property="f085n" jdbcType="DOUBLE" />
    <result column="f086n" property="f086n" jdbcType="DOUBLE" />
    <result column="f087n" property="f087n" jdbcType="DOUBLE" />
    <result column="f088n" property="f088n" jdbcType="DOUBLE" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="rectime" property="rectime" jdbcType="TIMESTAMP" />
    <result column="modtime" property="modtime" jdbcType="TIMESTAMP" />
    <result column="isvalid" property="isvalid" jdbcType="CHAR" />
    <result column="seqid" property="seqid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    company_code, f002v, time, f003v, f004v, f005v, f006n, f007n, f008n, f009n, f010n, f019n, f020n, f021n, 
    f022n, f023n, f027n, f028n, f029n, f030n, f031n, f032n, f033n, f034n, f035n, f036n, 
    f037n, f039n, f040n, f041n, f042n, f043n, f044n, f055n, f045n, f047n, f048n, f049n, 
    f050n, f051n, f052n, f053n, f054n, f056n, f057n, f058n, f059n, f060n, f061n, f062n, 
    f063n, f064n, f065n, f066n, f067n, f068n, f069n, f070n, f071n, f072n, f073n, f074n, 
    f075n, f076n, f077n, f078n, f079n, f080n, f081n, f082n, f083n, f084n, f085n, f086n, 
    f087n, f088n
  </sql>
  <sql id="Base_Where" >
    <trim prefix=" where " prefixOverrides="AND|OR" >
      <if test="companyCode != null" >
          and company_code = #{companyCode,jdbcType=VARCHAR}
      </if>
      <if test="f002v != null" >
          and f002v = #{f002v,jdbcType=VARCHAR}
      </if>
      <if test="time != null" >
          and time = #{time,jdbcType=TIMESTAMP}
      </if>
      <if test="objectid != null" >
          and objectid = #{objectid,jdbcType=BIGINT}
      </if>
      <if test="orgid != null" >
          and orgid = #{orgid,jdbcType=VARCHAR}
      </if>
      <if test="orgname != null" >
          and orgname = #{orgname,jdbcType=VARCHAR}
      </if>
      <if test="stockCode != null" >
          and stock_code = #{stockCode,jdbcType=VARCHAR}
      </if>
      <if test="secname != null" >
          and secname = #{secname,jdbcType=VARCHAR}
      </if>
      <if test="declaredate != null" >
          and declaredate = #{declaredate,jdbcType=TIMESTAMP}
      </if>
      <if test="enddate != null" >
          and enddate = #{enddate,jdbcType=TIMESTAMP}
      </if>
      <if test="f003v != null" >
          and f003v = #{f003v,jdbcType=VARCHAR}
      </if>
      <if test="f004v != null" >
          and f004v = #{f004v,jdbcType=VARCHAR}
      </if>
      <if test="f005v != null" >
          and f005v = #{f005v,jdbcType=VARCHAR}
      </if>
      <if test="f006n != null" >
          and f006n = #{f006n,jdbcType=DOUBLE}
      </if>
      <if test="f007n != null" >
          and f007n = #{f007n,jdbcType=DOUBLE}
      </if>
      <if test="f008n != null" >
          and f008n = #{f008n,jdbcType=DOUBLE}
      </if>
      <if test="f009n != null" >
          and f009n = #{f009n,jdbcType=DOUBLE}
      </if>
      <if test="f010n != null" >
          and f010n = #{f010n,jdbcType=DOUBLE}
      </if>
      <if test="f019n != null" >
          and f019n = #{f019n,jdbcType=DOUBLE}
      </if>
      <if test="f020n != null" >
          and f020n = #{f020n,jdbcType=DOUBLE}
      </if>
      <if test="f021n != null" >
          and f021n = #{f021n,jdbcType=DOUBLE}
      </if>
      <if test="f022n != null" >
          and f022n = #{f022n,jdbcType=DOUBLE}
      </if>
      <if test="f023n != null" >
          and f023n = #{f023n,jdbcType=DOUBLE}
      </if>
      <if test="f027n != null" >
          and f027n = #{f027n,jdbcType=DOUBLE}
      </if>
      <if test="f028n != null" >
          and f028n = #{f028n,jdbcType=DOUBLE}
      </if>
      <if test="f029n != null" >
          and f029n = #{f029n,jdbcType=DOUBLE}
      </if>
      <if test="f030n != null" >
          and f030n = #{f030n,jdbcType=DOUBLE}
      </if>
      <if test="f031n != null" >
          and f031n = #{f031n,jdbcType=DOUBLE}
      </if>
      <if test="f032n != null" >
          and f032n = #{f032n,jdbcType=DOUBLE}
      </if>
      <if test="f033n != null" >
          and f033n = #{f033n,jdbcType=DOUBLE}
      </if>
      <if test="f034n != null" >
          and f034n = #{f034n,jdbcType=DOUBLE}
      </if>
      <if test="f035n != null" >
          and f035n = #{f035n,jdbcType=DOUBLE}
      </if>
      <if test="f036n != null" >
          and f036n = #{f036n,jdbcType=DOUBLE}
      </if>
      <if test="f037n != null" >
          and f037n = #{f037n,jdbcType=DOUBLE}
      </if>
      <if test="f039n != null" >
          and f039n = #{f039n,jdbcType=DOUBLE}
      </if>
      <if test="f040n != null" >
          and f040n = #{f040n,jdbcType=DOUBLE}
      </if>
      <if test="f041n != null" >
          and f041n = #{f041n,jdbcType=DOUBLE}
      </if>
      <if test="f042n != null" >
          and f042n = #{f042n,jdbcType=DOUBLE}
      </if>
      <if test="f043n != null" >
          and f043n = #{f043n,jdbcType=DOUBLE}
      </if>
      <if test="f044n != null" >
          and f044n = #{f044n,jdbcType=DOUBLE}
      </if>
      <if test="f055n != null" >
          and f055n = #{f055n,jdbcType=DOUBLE}
      </if>
      <if test="f045n != null" >
          and f045n = #{f045n,jdbcType=DOUBLE}
      </if>
      <if test="f047n != null" >
          and f047n = #{f047n,jdbcType=DOUBLE}
      </if>
      <if test="f048n != null" >
          and f048n = #{f048n,jdbcType=DOUBLE}
      </if>
      <if test="f049n != null" >
          and f049n = #{f049n,jdbcType=DOUBLE}
      </if>
      <if test="f050n != null" >
          and f050n = #{f050n,jdbcType=DOUBLE}
      </if>
      <if test="f051n != null" >
          and f051n = #{f051n,jdbcType=DOUBLE}
      </if>
      <if test="f052n != null" >
          and f052n = #{f052n,jdbcType=DOUBLE}
      </if>
      <if test="f053n != null" >
          and f053n = #{f053n,jdbcType=DOUBLE}
      </if>
      <if test="f054n != null" >
          and f054n = #{f054n,jdbcType=DOUBLE}
      </if>
      <if test="f056n != null" >
          and f056n = #{f056n,jdbcType=DOUBLE}
      </if>
      <if test="f057n != null" >
          and f057n = #{f057n,jdbcType=DOUBLE}
      </if>
      <if test="f058n != null" >
          and f058n = #{f058n,jdbcType=DOUBLE}
      </if>
      <if test="f059n != null" >
          and f059n = #{f059n,jdbcType=DOUBLE}
      </if>
      <if test="f060n != null" >
          and f060n = #{f060n,jdbcType=DOUBLE}
      </if>
      <if test="f061n != null" >
          and f061n = #{f061n,jdbcType=DOUBLE}
      </if>
      <if test="f062n != null" >
          and f062n = #{f062n,jdbcType=DOUBLE}
      </if>
      <if test="f063n != null" >
          and f063n = #{f063n,jdbcType=DOUBLE}
      </if>
      <if test="f064n != null" >
          and f064n = #{f064n,jdbcType=DOUBLE}
      </if>
      <if test="f065n != null" >
          and f065n = #{f065n,jdbcType=DOUBLE}
      </if>
      <if test="f066n != null" >
          and f066n = #{f066n,jdbcType=DOUBLE}
      </if>
      <if test="f067n != null" >
          and f067n = #{f067n,jdbcType=DOUBLE}
      </if>
      <if test="f068n != null" >
          and f068n = #{f068n,jdbcType=DOUBLE}
      </if>
      <if test="f069n != null" >
          and f069n = #{f069n,jdbcType=DOUBLE}
      </if>
      <if test="f070n != null" >
          and f070n = #{f070n,jdbcType=DOUBLE}
      </if>
      <if test="f071n != null" >
          and f071n = #{f071n,jdbcType=DOUBLE}
      </if>
      <if test="f072n != null" >
          and f072n = #{f072n,jdbcType=DOUBLE}
      </if>
      <if test="f073n != null" >
          and f073n = #{f073n,jdbcType=DOUBLE}
      </if>
      <if test="f074n != null" >
          and f074n = #{f074n,jdbcType=DOUBLE}
      </if>
      <if test="f075n != null" >
          and f075n = #{f075n,jdbcType=DOUBLE}
      </if>
      <if test="f076n != null" >
          and f076n = #{f076n,jdbcType=DOUBLE}
      </if>
      <if test="f077n != null" >
          and f077n = #{f077n,jdbcType=DOUBLE}
      </if>
      <if test="f078n != null" >
          and f078n = #{f078n,jdbcType=DOUBLE}
      </if>
      <if test="f079n != null" >
          and f079n = #{f079n,jdbcType=DOUBLE}
      </if>
      <if test="f080n != null" >
          and f080n = #{f080n,jdbcType=DOUBLE}
      </if>
      <if test="f081n != null" >
          and f081n = #{f081n,jdbcType=DOUBLE}
      </if>
      <if test="f082n != null" >
          and f082n = #{f082n,jdbcType=DOUBLE}
      </if>
      <if test="f083n != null" >
          and f083n = #{f083n,jdbcType=DOUBLE}
      </if>
      <if test="f084n != null" >
          and f084n = #{f084n,jdbcType=DOUBLE}
      </if>
      <if test="f085n != null" >
          and f085n = #{f085n,jdbcType=DOUBLE}
      </if>
      <if test="f086n != null" >
          and f086n = #{f086n,jdbcType=DOUBLE}
      </if>
      <if test="f087n != null" >
          and f087n = #{f087n,jdbcType=DOUBLE}
      </if>
      <if test="f088n != null" >
          and f088n = #{f088n,jdbcType=DOUBLE}
      </if>
      <if test="memo != null" >
          and memo = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="rectime != null" >
          and rectime = #{rectime,jdbcType=TIMESTAMP}
      </if>
      <if test="modtime != null" >
          and modtime = #{modtime,jdbcType=TIMESTAMP}
      </if>
      <if test="isvalid != null" >
          and isvalid = #{isvalid,jdbcType=CHAR}
      </if>
      <if test="seqid != null" >
          and seqid = #{seqid,jdbcType=BIGINT}
      </if>
    </trim>
  </sql>
  <sql id="Base_Update_Set" >
    <set >
      <if test="objectid != null" >
        objectid = #{objectid,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="secname != null" >
        secname = #{secname,jdbcType=VARCHAR},
      </if>
      <if test="declaredate != null" >
        declaredate = #{declaredate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="f003v != null" >
        f003v = #{f003v,jdbcType=VARCHAR},
      </if>
      <if test="f004v != null" >
        f004v = #{f004v,jdbcType=VARCHAR},
      </if>
      <if test="f005v != null" >
        f005v = #{f005v,jdbcType=VARCHAR},
      </if>
      <if test="f006n != null" >
        f006n = #{f006n,jdbcType=DOUBLE},
      </if>
      <if test="f007n != null" >
        f007n = #{f007n,jdbcType=DOUBLE},
      </if>
      <if test="f008n != null" >
        f008n = #{f008n,jdbcType=DOUBLE},
      </if>
      <if test="f009n != null" >
        f009n = #{f009n,jdbcType=DOUBLE},
      </if>
      <if test="f010n != null" >
        f010n = #{f010n,jdbcType=DOUBLE},
      </if>
      <if test="f019n != null" >
        f019n = #{f019n,jdbcType=DOUBLE},
      </if>
      <if test="f020n != null" >
        f020n = #{f020n,jdbcType=DOUBLE},
      </if>
      <if test="f021n != null" >
        f021n = #{f021n,jdbcType=DOUBLE},
      </if>
      <if test="f022n != null" >
        f022n = #{f022n,jdbcType=DOUBLE},
      </if>
      <if test="f023n != null" >
        f023n = #{f023n,jdbcType=DOUBLE},
      </if>
      <if test="f027n != null" >
        f027n = #{f027n,jdbcType=DOUBLE},
      </if>
      <if test="f028n != null" >
        f028n = #{f028n,jdbcType=DOUBLE},
      </if>
      <if test="f029n != null" >
        f029n = #{f029n,jdbcType=DOUBLE},
      </if>
      <if test="f030n != null" >
        f030n = #{f030n,jdbcType=DOUBLE},
      </if>
      <if test="f031n != null" >
        f031n = #{f031n,jdbcType=DOUBLE},
      </if>
      <if test="f032n != null" >
        f032n = #{f032n,jdbcType=DOUBLE},
      </if>
      <if test="f033n != null" >
        f033n = #{f033n,jdbcType=DOUBLE},
      </if>
      <if test="f034n != null" >
        f034n = #{f034n,jdbcType=DOUBLE},
      </if>
      <if test="f035n != null" >
        f035n = #{f035n,jdbcType=DOUBLE},
      </if>
      <if test="f036n != null" >
        f036n = #{f036n,jdbcType=DOUBLE},
      </if>
      <if test="f037n != null" >
        f037n = #{f037n,jdbcType=DOUBLE},
      </if>
      <if test="f039n != null" >
        f039n = #{f039n,jdbcType=DOUBLE},
      </if>
      <if test="f040n != null" >
        f040n = #{f040n,jdbcType=DOUBLE},
      </if>
      <if test="f041n != null" >
        f041n = #{f041n,jdbcType=DOUBLE},
      </if>
      <if test="f042n != null" >
        f042n = #{f042n,jdbcType=DOUBLE},
      </if>
      <if test="f043n != null" >
        f043n = #{f043n,jdbcType=DOUBLE},
      </if>
      <if test="f044n != null" >
        f044n = #{f044n,jdbcType=DOUBLE},
      </if>
      <if test="f055n != null" >
        f055n = #{f055n,jdbcType=DOUBLE},
      </if>
      <if test="f045n != null" >
        f045n = #{f045n,jdbcType=DOUBLE},
      </if>
      <if test="f047n != null" >
        f047n = #{f047n,jdbcType=DOUBLE},
      </if>
      <if test="f048n != null" >
        f048n = #{f048n,jdbcType=DOUBLE},
      </if>
      <if test="f049n != null" >
        f049n = #{f049n,jdbcType=DOUBLE},
      </if>
      <if test="f050n != null" >
        f050n = #{f050n,jdbcType=DOUBLE},
      </if>
      <if test="f051n != null" >
        f051n = #{f051n,jdbcType=DOUBLE},
      </if>
      <if test="f052n != null" >
        f052n = #{f052n,jdbcType=DOUBLE},
      </if>
      <if test="f053n != null" >
        f053n = #{f053n,jdbcType=DOUBLE},
      </if>
      <if test="f054n != null" >
        f054n = #{f054n,jdbcType=DOUBLE},
      </if>
      <if test="f056n != null" >
        f056n = #{f056n,jdbcType=DOUBLE},
      </if>
      <if test="f057n != null" >
        f057n = #{f057n,jdbcType=DOUBLE},
      </if>
      <if test="f058n != null" >
        f058n = #{f058n,jdbcType=DOUBLE},
      </if>
      <if test="f059n != null" >
        f059n = #{f059n,jdbcType=DOUBLE},
      </if>
      <if test="f060n != null" >
        f060n = #{f060n,jdbcType=DOUBLE},
      </if>
      <if test="f061n != null" >
        f061n = #{f061n,jdbcType=DOUBLE},
      </if>
      <if test="f062n != null" >
        f062n = #{f062n,jdbcType=DOUBLE},
      </if>
      <if test="f063n != null" >
        f063n = #{f063n,jdbcType=DOUBLE},
      </if>
      <if test="f064n != null" >
        f064n = #{f064n,jdbcType=DOUBLE},
      </if>
      <if test="f065n != null" >
        f065n = #{f065n,jdbcType=DOUBLE},
      </if>
      <if test="f066n != null" >
        f066n = #{f066n,jdbcType=DOUBLE},
      </if>
      <if test="f067n != null" >
        f067n = #{f067n,jdbcType=DOUBLE},
      </if>
      <if test="f068n != null" >
        f068n = #{f068n,jdbcType=DOUBLE},
      </if>
      <if test="f069n != null" >
        f069n = #{f069n,jdbcType=DOUBLE},
      </if>
      <if test="f070n != null" >
        f070n = #{f070n,jdbcType=DOUBLE},
      </if>
      <if test="f071n != null" >
        f071n = #{f071n,jdbcType=DOUBLE},
      </if>
      <if test="f072n != null" >
        f072n = #{f072n,jdbcType=DOUBLE},
      </if>
      <if test="f073n != null" >
        f073n = #{f073n,jdbcType=DOUBLE},
      </if>
      <if test="f074n != null" >
        f074n = #{f074n,jdbcType=DOUBLE},
      </if>
      <if test="f075n != null" >
        f075n = #{f075n,jdbcType=DOUBLE},
      </if>
      <if test="f076n != null" >
        f076n = #{f076n,jdbcType=DOUBLE},
      </if>
      <if test="f077n != null" >
        f077n = #{f077n,jdbcType=DOUBLE},
      </if>
      <if test="f078n != null" >
        f078n = #{f078n,jdbcType=DOUBLE},
      </if>
      <if test="f079n != null" >
        f079n = #{f079n,jdbcType=DOUBLE},
      </if>
      <if test="f080n != null" >
        f080n = #{f080n,jdbcType=DOUBLE},
      </if>
      <if test="f081n != null" >
        f081n = #{f081n,jdbcType=DOUBLE},
      </if>
      <if test="f082n != null" >
        f082n = #{f082n,jdbcType=DOUBLE},
      </if>
      <if test="f083n != null" >
        f083n = #{f083n,jdbcType=DOUBLE},
      </if>
      <if test="f084n != null" >
        f084n = #{f084n,jdbcType=DOUBLE},
      </if>
      <if test="f085n != null" >
        f085n = #{f085n,jdbcType=DOUBLE},
      </if>
      <if test="f086n != null" >
        f086n = #{f086n,jdbcType=DOUBLE},
      </if>
      <if test="f087n != null" >
        f087n = #{f087n,jdbcType=DOUBLE},
      </if>
      <if test="f088n != null" >
        f088n = #{f088n,jdbcType=DOUBLE},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="rectime != null" >
        rectime = #{rectime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null" >
        modtime = #{modtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=CHAR},
      </if>
      <if test="seqid != null" >
        seqid = #{seqid,jdbcType=BIGINT},
      </if>
    </set>
  </sql>
  
   <select id="getfinace0012AllCount" resultType="java.lang.Integer" >
    select count(*)
    from t_finace0012
  </select>
  
  <select id="getfinace0012PageData2Cache" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_finace0012
  </select>
  
  <select id="getfinace0012UpdateCount" resultType="java.lang.Integer" parameterType="com.stock.common.model.base.Asset0290" >
    select count(*)
    from t_finace0012 
    where rectime>= #{uptime,jdbcType=TIMESTAMP}  
    or modtime>= #{uptime,jdbcType=TIMESTAMP}  
  </select>
  
   <select id="getfinace0012PageData2Cache_refresh" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_finace0012 
    where rectime>= #{uptime,jdbcType=TIMESTAMP}  
    or modtime>= #{uptime,jdbcType=TIMESTAMP}  
    limit ${start},${limit} 
  </select>
</mapper>