<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.common.model.TableSystem" >
  <resultMap id="BaseResultMap" type="com.stock.common.model.TableSystem" >
    <id column="table_system_code" property="tableSystemCode" jdbcType="VARCHAR" />
    <result column="table_system_name" property="tableSystemName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    table_system_code, table_system_name
  </sql>
  <sql id="Base_Where" >
    <trim prefix=" where " prefixOverrides="AND|OR" >
      <if test="tableSystemCode != null" >
          and table_system_code = #{tableSystemCode,jdbcType=VARCHAR}
      </if>
      <if test="tableSystemName != null" >
          and table_system_name = #{tableSystemName,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Update_Set" >
    <set >
      <if test="tableSystemName != null" >
        table_system_name = #{tableSystemName,jdbcType=VARCHAR},
      </if>
    </set>
  </sql>
  <insert id="insert" parameterType="com.stock.common.model.TableSystem" >
    insert into t_table_system (table_system_code, table_system_name)
    values (#{tableSystemCode,jdbcType=VARCHAR}, #{tableSystemName,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_table_system
    where table_system_code = #{tableSystemCode,jdbcType=VARCHAR}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_table_system
    where table_system_code = #{tableSystemCode,jdbcType=VARCHAR}
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.stock.common.model.TableSystem" >
    select 
    <include refid="Base_Column_List" />
    from t_table_system
    <include refid="Base_Where" />
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_table_system
    <include refid="Base_Where" />
    <if test="queryParam.sort != null" >
       order by ${queryParam.sort} ${queryParam.dir} 
    </if>
     limit ${queryParam.start},${queryParam.limit} 
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.stock.common.model.TableSystem" >
    select count(*)
    from t_table_system
    <include refid="Base_Where" />
  </select>
  <update id="updateByPrimaryKey" parameterType="com.stock.common.model.TableSystem" >
    update t_table_system
    <include refid="Base_Update_Set" />
    where table_system_code = #{tableSystemCode,jdbcType=VARCHAR}
  </update>
  <update id="update" parameterType="com.stock.common.model.TableSystem" >
    update t_table_system
    <include refid="Base_Update_Set" />
    <include refid="Base_Where" />
  </update>
  
   <!-- 加载数据到缓存-->
   <select id="loadtableSystem2cache" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_table_system
  </select>
</mapper>